/* *{
    border: solid pink 1px;
} */
.container{
    background-color: white;
}
h1{
    text-align: center;
    color: white;
    margin-top: 5px;
}
h6{
    color: white;
    text-align: center;
     /*arreglar, mal posicionamiento*/
}
#participantes p{
    color: black;
    border: solid gray 1px;
    height: 40px;
}
.participantes-section{
    height: 100px;
}

body{
     width: 337px; 
    height: 600px;
    margin:0 auto;
    background-color: gray;
}
header{
    height: 159px;
    background-color: rgba(19, 92, 247, 1);
    border-radius: 4px;
}
/* h1{
    margin-top: 41px;
} */

section{
    height: 330px;
    background-color: white;
}
.formulario{
    height: 160px;
}

button{
    background-color: rgb(231, 69, 69);
    border-radius: 4px;
    margin-top: 5px;
    color: aliceblue;
    border: none;
}